body {
  font-family: Arial, sans-serif;
  background-color: #f9f3de;
  color: #4b2c20;
}
.navbar {
  background-color: #b62616;
  position: sticky;
  top: 0;
}
.navbar-brand {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffd034;
}

.nav-link {
  color: #ffd034 !important;
}
.collapse {
  font-family: "Baloo Paaji 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.hero {
  background: url("../img/background.png") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 150px 20px;
  text-shadow: 5px 4px 4px #000000;
}
.hero h1 {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hero p {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
searchBtn {
  color: #ffd034;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: #4b2c20 1px solid;
  background-color: #fdf2cd;
}
.card-img-top {
  width: 413px;
  height: 263px;
}
.events-section {
  padding-bottom: 50px;
}
.events-section h2 {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.eventResult {
  padding: 10px;
}
.ps-3 {
  padding-left: 1rem !important;
  font-family: "Baloo Paaji 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: larger;
  color: #fad034;
}

b,
strong {
  font-weight: bolder;
  color: #b62616;
}
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff8dc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff8dc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.collection h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.event-card {
  border: #4b2805 solid 2px;
  padding: 10px;
  border-radius: 15px;
}
.col-md-4 {
  font-family: "Bungee", sans-serif;
  /* font-weight: 600; */
  text-decoration: none !important;
}
.card-title {
  color: #b62616;
}
footer {
  background-color: #4b2805;
  color: white;
  padding: 15px 0;
  text-align: center;
}
.bst {
  position: fixed;
  bottom: 0;
  width: 100%;
}
